.card-img-top{
  width: 341px;
  height: 222px;
  margin-top: 20px;
}

.btn-primary{
  margin-top:5px;
}
.card.colorful-card .testimonial-card .card-up {
  height: 95px;
}

.card.colorful-card .testimonial-card .avatar {
  border: 3px solid #fff !important;
}

.card.booking-card {
  background-color: #c7f2e3;
}

.card.booking-card .fa {
  color: #f7aa00;
}

.card.booking-card .card-body .card-text {
  color: #db2d43;
}

.card.card.booking-card .chip {
  background-color: #87e5da;
}

.card.booking-card .card-body hr {
  border-top: 1px solid #f7aa00;
}

.mimosa {
  background-color: #F0C05A;
}

.fuchsia-rose-text {
  color: #db0075;
}

.aqua-sky-text {
  color: #5cc6c3;
}

.mimosa-text {
  color: #F0C05A;
}

.list-inline-item .fas,
.list-inline-item .far {
  font-size: .8rem;
}

.chili-pepper-text {
  color: #9B1B30;
}

.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}

.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}

@media (max-width: 1900px) {
  .card-img-top{
    width: 280px;
    height: 222px;
    margin-top: 20px;
  }
}

@media (max-width: 1600px) {
  .card-img-top{
    width: 20vw;
    height: 30vh;
    margin-top: 20px;
  }
}

@media (max-width: 1200px) {
  .card-img-top{
    width: 20vw;
    height: 30vh;
    margin-top: 20px;
  }
}
