
.card{
    padding-top: 30px;
    max-width:33%;
    border: black solid 1px;
    padding: 0 20px;
}
.card-image{
    max-width: 100%;
	height: auto;
}

.recipes{
    display: flex;
    flex-direction: row;
}
.planning{
  background: red;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 1.8rem;
  font-weight: bolder;
  padding:0;
  float:right;
}
.favorite{
  background: green;
  width: 30px;
  height: 30px;
  color: white;
  font-size: 1.8rem;
  font-weight: bolder;
  padding:0;
  float:right;
  border: black solid 0.1px;
}
