.recipeForm{
  padding-top:0px;
  margin-top:20px;
  font-size:100px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.main-recipeForm-title {
  margin-top:0px;
  font-size:50px;
  margin-bottom: 20px;
  font-family: 'Dancing Script';
  text-align: center;
}
