@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  background-image: url('https://c.pxhere.com/photos/4a/f0/autumn_background_board_dry_dry_leaves_fall_foliage_HD_wallpaper-1560989.jpg!d');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  font-size: 16px;
}

@media screen and (max-width: 620px) {
  .body{
    background-repeat:repeat-y;
  }
  }

/* 
  // or you can import your own font
  @font-face {    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
*/
