.app {
  display: flex
}

.header {
  display: flex;
  justify-content: center;
  height: 110px;
  padding: 0 10px;
  font-weight: bold;
  padding: 25px 0px;
  margin: 40px 0px;
  font-size: 12rem;
  font-family: 'Dancing Script';
}

main.main {
  flex: 1;
  height: 100%;
  /** overflow-y: auto; */
}

/*.homeimg {

  width: 150px;
  height: 150px;
}*/


@media only screen and (max-width: 1200px) {

  .header {
    font-size: 10rem;
  }
}


@media only screen and (max-width: 807px) {

  .header {
    font-size: 8rem;
  }
}


@media only screen and (max-width: 761px) {

  .header {
    padding-top: 0px;
    font-size: 6rem;
  }
}

@media only screen and (max-width: 415px) {

  .header {
    margin-top:50px;
    margin-bottom:50px;
    font-size: 5rem;
  }
  .home {
    height: auto;
  }
}

@media only screen and (max-width: 320px) {

  .header {
    margin-top:70px;
    margin-bottom:50px;
    font-size: 4rem;
    text-align: center;
  }

  .home {
    height: auto;
    margin-top: 0px;
  }
}



