.app {
  display: flex
}

.header {
  display: flex;
  justify-content: center;
  height: 110px;
  padding: 0 10px;
  font-weight: bold;
  padding-top: 50px;
  margin-top: 75px;
  font-size: 10rem;
  font-family: 'Dancing Script';
}

main.main {
  flex: 1;
  height: 100%;
  overflow-y: auto;
}
.footer{

 display: inline;
}

.fleche  {

  width:300px;
  height:300px;
  
}

.homeimg {

  width: 150px;
  height: 150px;
}


@media only screen and (max-width: 1200px) {

  .header {
    font-size: 10rem;
  }

}


@media only screen and (max-width: 807px) {

  .header {
    font-size: 8rem;
  }

}


@media only screen and (max-width: 761px) {

  .header {
    padding-top: 0px;
    font-size: 6rem;
  }

}

@media only screen and (max-width: 415px) {

  .header {
    margin-top:50px;
    margin-bottom:50px;
    font-size: 5rem;
  }

  .homeimg {

    width: 35%;
    height: 35%;
  }

  .home {
    height: auto;
  }
}

@media only screen and (max-width: 320px) {

  .header {
    margin-top:70px;
    margin-bottom:50px;
    font-size: 4rem;
  }

  .homeimg {

    width: 35%;
    height: 35%;
  }

  .home {
    height: auto;
    margin-top: 0px;
  }
}



