.login-form {
    padding-top: 10%;
    justify-items: center;
    width:45%;
    margin: auto;
  }
  .login-form-element {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .login-form-message {
    text-align: right;
    margin: .3em 1em;
  }
  .login-form-logged {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .login-form-button {
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    background-color:green;
    border-radius: .3em;
    border: 0;
    padding: .7em;
    height: 2.5em;
  }
  
  .login-title {
    font-size:100px;
    margin-bottom: 50px;
    font-family: 'Dancing Script';
  }

  .registerLink{
    margin-top:2rem;
    height: 60px;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    background-color:black;
    border-radius: .3em;
    border: 0;
    padding: .7em;
    opacity: 0.60;
  }
