.login-form {
    padding-top: 10%;
    justify-items: center;
    width:60%;
    margin: auto;
  }
  .login-form-element {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .login-form-message {
    text-align: right;
    margin: .3em 1em;
  }
  .login-form-logged {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login-form-button {
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    background-color:green;
    border-radius: .5em;
    border: 0;
    padding: .7em;
    height: 2.5em;
  }

  .form-control{
    border-radius: 0.3em;
    background-color: transparent;
    border-bottom: green solid 0.1em;
    border-left:green solid 0.1em;
  }
  .login-title, .loadingConnexion-title{
    font-size:100px;
    margin-bottom: 50px;
    font-family: 'Dancing Script';
    text-align: center;
  }

  .registerLink{
    padding-top:20px;
    margin-top:2rem;
    height: 60px;
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    background-color:black;
    border-radius: .3em;
    border: 0;
    padding: 20px  0.7em 0.7em 0.7em;
    opacity: 0.60;
    text-decoration-line: none;
  }
  @media screen and (max-width: 620px) {
    form{
      width:80%;
    }
    .divfile{
      font-size:0.8rem
    }
    .login-title{
      font-size: 60px;
    }
    .registerFormButton{
      width:60%;
      margin:auto;
    }
    .login-form-button{
      width:100%;
    }
    }
