.home{
  width: 100%;
  height: 850px;
  margin-right:0px;
  margin-top: 2em;
}

.maindiv {
  margin-top: 100px;
  margin-right: 0px;
  flex-direction:column;
  justify-content: center;
}
.homeimg{
  margin-right: 25px;
}
.recette{
  display: flex;
  flex-direction: row;
  width:80%;
  margin:auto;
  //margin-left: 20%;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  text-align: center;
}
.div_home_p, .div_agenda_p,.div_course_p{
  margin-left:40px;
}
.div_home_p > p{
  vertical-align: middle;
  width: 100%;
  margin-top:10%;
}

.course {
  width:80%;
  margin:auto;
  display: flex;
  flex-direction: row;
 // margin-left: 20%;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  text-align: center;
}
.div_course_p > p{
  vertical-align: middle;
  width: 100%;
  margin-top:10%;
}

.agenda {
  text-align: center;
  width:80%;
  margin:auto;
  display: flex;
  flex-direction: row;
  //text-align: right;
  //margin-right: 20%;
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
}
.div_agenda_p > p{
  vertical-align: middle;
  width: 100%;
  margin-top:10%;
}
p{
  font-family: 'Dancing Script';
  font-size:45px;
}
// Tout ce qu'il y aura en dessous sera fait pour le responsive
@media only screen and (max-width: 807px) {
  /*.recette {
    align-content: flex-start;
  }*/
  .maindiv {
    justify-content: flex-start;
    margin: 0px;
    
    width:700px;
  }
 
}

/*@media only screen and (max-width: 607px) {
  .recette {
    align-content: flex-start;
  }
  .maindiv{
    justify-content: flex-start;
    margin: 0px;
    width:500px;
  }
  .homeimg {
    width:150px;
    height:150px;
  }
}*/

@media only screen and (max-width: 600px) {
  .recette {
    align-content: flex-start;
  }
  .maindiv {
    margin: 0px;
    width:100%;
    display:flex;
    justify-items: center;
  }
  .home{
    margin-top:50px;
  }
  .header {
    margin:0px;
  }
  .div_home_p, .div_agenda_p, .div_course_p{
    margin:auto;
    text-align:center;
  }
  p{
    display:initial;
    font-size:23px;
    margin:auto;
    font-family: 'Times New Roman', Times, serif;
  }
  .agenda, .course, .recette{
    margin-right:0px;
    margin-left:0px;
    width:90%;
    margin-bottom:30px;
  }
  .homeimg{
    display: none;
  }
}
