<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>3D Restaurant Menu Concept</title>
        <meta name="description" content="A responsive folded flyer-like restaurant menu with some 3D" />
        <meta name="keywords" content="css3, perspective, 3d, jquery, transform3d, responsive, template, restaurant, menu, leaflet, folded, flyer, concept" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="css/style.css" />
		<link href='http://fonts.googleapis.com/css?family=Raleway:300,500|Arvo:700' rel='stylesheet' type='text/css'>
	
		<!--[if lte IE 8]><style>.support-note .note-ie{display:block;}</style><![endif]-->
		
    </head>
    <body>
        <div class="container">
		
			
			<section class="main">
				<div class="rm-wrapper"></div>
					<div class="rm-content">
						<h4>Lundi</h4>
						<dl>
							<dt>Midi</dt>
							<dd>Entrée : salade de chèvre</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>

							<dt>Soir</dt>
							<dd>Entrée</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>
						</dl>

						<h4>Mardi</h4>
						<dl>
							<dt>Midi</dt>
							<dd>Entrée : salade de chèvre</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>

							<dt>Soir</dt>
							<dd>Entrée</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>
						</dl>
						<h4>Mercredi</h4>
						<dl>
							<dt>Midi</dt>
							<dd>Entrée : salade de chèvre</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>

							<dt>Soir</dt>
							<dd>Entrée</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>
						</dl>	
						<h4>Jeudi</h4>
						<dl>
							<dt>Midi</dt>
							<dd>Entrée : salade de chèvre</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>

							<dt>Soir</dt>
							<dd>Entrée</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>
						</dl>	
						<h4>Vendredi</h4>
						<dl>
							<dt>Midi</dt>
							<dd>Entrée : salade de chèvre</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>

							<dt>Soir</dt>
							<dd>Entrée</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>
						</dl>	
						<h4>Samedi</h4>
						<dl>
							<dt>Midi</dt>
							<dd>Entrée : salade de chèvre</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>

							<dt>Soir</dt>
							<dd>Entrée</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>
						</dl>
						<h4>Dimanche</h4>
						<dl>
							<dt>Midi</dt>
							<dd>Entrée : salade de chèvre</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>

							<dt>Soir</dt>
							<dd>Entrée</dd>
							<dd>Plat</dd>
							<dd>Dessert</dd>
						</dl>
					</div><!-- /rm-content -->
				</div><!-- /rm-wrapper -->
			</section>
        </div>	
    </body>
</html>
