
.navbar{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 180px;
  padding: 20px;
  font-weight: bold;
  background-color: black;
  opacity:0.70;
}
.navigation-link {
  padding: 50px;
  font-size: 1.5rem;
  margin: 5px 0;
  color:white;
}
.active {
  color: #056601   
  ;
}

// Tout ce qu'il y aura en dessous sera fait pour le responsive
@media only screen and (max-width: 768px) {
  .navbar{
    color: red;
  }
}
