.navigation-link {
 
  padding: 50px 5px;
  font-size: 2rem;
  letter-spacing: 2px;
  margin: 5px 0;
  color:white;
  width:180px;
}
.active {
  color: #056601;
}
.divlogo {
  position: relative;
  width: 187px;
  height: 300px;
}
.image{
  width:180px;
  z-index:1;
  position: absolute;
}
.imagetext{
  padding-top: 60px;
  margin-left:40px;
  width:100px;
  z-index:2;
  position: absolute;
}


// Tout ce qu'il y aura en dessous sera fait pour le responsive
@media only screen and (max-width: 807px) {
  .navigation-link{
   
    width:100px;
  }
  .navigation-bar{
    display: none;
  
  }
}
