 .footer {

   position: absolute;
   bottom: 0;
   background-color: black;
   opacity: 0.70;
   align-items: center;
   flex-direction: row;
   width: 92%;
   margin-left:200px;

   //.nav-items {}
 }

 .navigation-link-footer{
   padding: 0px 330px;
   font-size: 2rem;
   letter-spacing: 2px;
   margin: 5px 0;
   color: white;
   width: 200px;
   text-align: justify;
   font-family: 'Henny Penny', cursive;
   text-decoration: none;
 }
 .active {
  color: #056601;
} 

.navigation-link-footer:hover {

  text-decoration: none;
}

