 .footer {
   position: fixed;
   bottom: 0px;
   left: 0px;
   background-color: black;
   opacity: 0.70;
   align-items: center;
   flex-direction: row;
   width: 100%;
   display: flex;
   //.nav-items {}
 }

 .navigation-link-footer{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
   font-size: 1.5rem;
   letter-spacing: 2px;
   margin: 5px 0;
   color: white;
   text-align: justify;
  //  font-family: 'Henny Penny', cursive;
  font-family: 'Dancing Script';
   text-decoration: none;
 }
 .active {
  color: #056601;
} 

.navigation-link-footer:hover {

  text-decoration: none;
}

@media only screen and (max-width: 770px) {
  .footer{
  width: 100%;
  margin-left: 0px;
  text-align: center;
  }
  .navigation-link-footer{
    padding: 0px 0px;
  }
}
