<div class="card-deck">
	<div class="front col-6 d-flex">
	  <div class="card mb-4 col-6">
		<div class="view overlay">
		  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
			alt="Card image cap">
		</div>
		<div class="card-body">
		  <h4 class="card-title">Nina</h4>
		</div> 
	  </div>
	  <div class="card mb-4 col-6">
		<div class="view overlay">
		  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
			alt="Card image cap">
		</div>
		<div class="card-body">
		  <h4 class="card-title">Aurore</h4>
		</div> 
	  </div>
	</div>
	<div class="back col-6 d-flex">
	  <div class="card mb-4 col-6">
		<div class="view overlay">
		  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
			alt="Card image cap">
		</div>
		<div class="card-body">
		  <h4 class="card-title">Cyril</h4>
		</div> 
	  </div>
	  <div class="card mb-4 col-6">
		<div class="view overlay">
		  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
			alt="Card image cap">
		</div>
		<div class="card-body">
		  <h4 class="card-title">Anthony</h4>
		</div> 
	  </div>
	</div>


	
<div className="card-team">
	<h1 className="title">L'équipe Of'course, tous développeurs !</h1>
	<h2 className="subtitle">Spécialisation React</h2>
	<h2 className="subtitle">Spécialisation React</h2>
    <CardGroup>
      <Card classeName="teamcard">
        <Card.Img variant="top" src={nina} />
        <Card.Body>
          <Card.Title>Nina</Card.Title>
          <Card.Text>
            Product Owner & Scrum Master
          </Card.Text>
        </Card.Body>
      </Card>
      <Card classeName="teamcard">
        <Card.Img variant="top" src={aurore} />
        <Card.Body>
          <Card.Title>Aurore</Card.Title>
          <Card.Text>
            Lead Developer Front
          </Card.Text>
        </Card.Body>
      </Card>
    </CardGroup>
    <h2 className="subtitle">Spécialisation Symfony</h2>
    <CardGroup>
      <Card classeName="teamcard">
        <Card.Img variant="top" src={cyril} />
        <Card.Body>
          <Card.Title>Cyril</Card.Title>
          <Card.Text>
            Git Master
          </Card.Text>
        </Card.Body>
      </Card>
      <Card classeName="teamcard">
        <Card.Img variant="top" src={anthony} />
        <Card.Body>
          <Card.Title>Anthony Montana</Card.Title>
          <Card.Text>
            Lead Developer Back
          </Card.Text>
        </Card.Body>
     </Card>
   </CardGroup> 
  </div>
  <CardGroup className="front">
	<Card classeName="teamcard">
	  <Card.Img variant="top" src={nina} />
	  <Card.Body>
		<Card.Title>Nina</Card.Title>
		<Card.Text>
		  Product Owner & Scrum Master
		</Card.Text>
	  </Card.Body>
	</Card>
	<Card classeName="teamcard">
	  <Card.Img variant="top" src={aurore} />
	  <Card.Body>
		<Card.Title>Aurore</Card.Title>
		<Card.Text>
		  Lead Developer Front
		</Card.Text>
	  </Card.Body>
	</Card>
  </CardGroup>
  <h2 className="subtitle">Spécialisation Symfony</h2>
  <CardGroup className="front">
	<Card classeName="teamcard">
	  <Card.Img variant="top" src={cyril} />
	  <Card.Body>
		<Card.Title>Cyril</Card.Title>
		<Card.Text>
		  Git Master
		</Card.Text>
	  </Card.Body>
	</Card>
	<Card classeName="teamcard">
	  <Card.Img variant="top" src={anthony} />
	  <Card.Body>
		<Card.Title>Anthony Montana</Card.Title>
		<Card.Text>
		  Lead Developer Back
		</Card.Text>
	  </Card.Body>
	</Card>
  </CardGroup> 
</div>
